/* To add additional fonts to html that are not usually found, add to html file
or to css file?
font-face w/ font-family didn't work, src incorrect?
Address for second attempt...
*/

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    color:#8ed6a1;
    font-family: Gill Sans, 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0b110d;
}

/* HEADER STYLE*/

header{
    padding: 35px 35px;
    background-color: black;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1{
    color:rgb(83, 170, 105);
    margin:0;
    font-family: Gill Sans, 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

header a{
    color:rgb(83, 170, 105);
    text-decoration: none;
    font-family: Gill Sans, 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

header nav{
    margin: 7px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li{
    display: inline;
}

header nav ul li a{
    margin: 0 30px;
    font-weight: lighter;
    font-size: 2vw;
}

h2{
    color: #11702a;
    text-align: center;
    font-family: Gill Sans, 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

p{
    color: #1c3624;
    text-align: center; 
    font-family: Gill Sans, 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

/* HERO STYLE */

.hero{
    height: 600px;
    width: 100%;
    background-image: url("../assets/images/Leaf\ Background.jpg");
    background-position: center;
    background-size: cover;
    border: 20px, #11702a;
}

/* ABOUT ME STYLE */

.about-me img{
    max-width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-me p{
    color: #8ed6a1;
    text-align: center; 
    font-family: Gill Sans, 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

/*SHARED STYLES*/

.about-me, .contact-me{
    background-color: #1c3624;
    margin: 25px 20px;
    border: 2px solid #8ed6a1;
}

.about-me h2, .contact-me h2{
    color: #11702a;
    font-family: Gill Sans, 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 32px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
 
/* CONTACT ME STYLE */

.contact-me ul{
    color:#8ed6a1;
    text-align: center;
}

.contact-me li{
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
}

/* PROJECTS STYLE */

.projects{
    background-color: #245834;
    border: 2px solid #8ed6a1;
    margin: 25px 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

span{ 
    margin-left: 20px;
    margin-right: 20px;
    height: 300px;
}

/*Look up how to get vertically aligned text to match wireframe*/

.projects h2{
    color: #0b110d;
    font-size: 32pt;
    font-family: Gill Sans, 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    display: flex;
    vertical-align: middle;
    height: 200px;
    width: 35px;
    line-height: 65px;
    padding: 10px;
}

/* RUN BUDDY STYLE*/

.run-buddy{
    background-image:url(./images/runner);
    background-size: 450px 500px;
    background-position: fill;
    border: 2px solid #8ed6a1;
    margin: 30px;
    padding: 200px 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.run-buddy h3, .run-buddy-descrip{
    color:#1c3624;
    font-size: 35px;
    font-family: Gill Sans, 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    text-align: left;
    background-color: #8ed6a1;
}

.add-projects{
    height: 450px;
    margin: 20px;
}

/* HORISEON STYLE */

.horiseon{
    background-image: url(./images/marketing);
    background-size: 250px 200px;
    background-position: center;
    border: 2px solid #8ed6a1;
    margin: 20px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
}

/* PROJECT 3 STYLE */

.soon-1{
    background-image: url(./images/coming\ 1);
    background-size: 250px 200px;
    background-position: center;
    border: 2px solid #8ed6a1;
    margin: 20px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
}

/* PROJECT 4 STYLE */

.soon-2{
    background-image: url(./images/coming\ 2);
    background-size: 250px 200px;
    background-position: center;
    border: 2px solid #8ed6a1;
    margin: 20px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
}

/* SHARED STYLES*/

.run-buddy p, .horiseon p, .soon-1 p, .soon-2 p{
        color: #1c3624;
        text-align: center; 
        font-family: Gill Sans, 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

/* FOOTER STYLE */

footer{
    height:50px;
    position: static;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}