*{
    margin: 0;
    box-sizing: border-box;
}

body{
    color:#8ed6a1;
    font-family: Gill Sans, 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0b110d;
}

header{
    padding: 35px 35px;
    background-color: black;
    position: sticky;
    top: 0;
    display: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}
